@import "tailwindcss";
@import "@nuxt/ui";

@theme {
    --font-lora: 'Lora', serif;
    --color-light-primary: #f4c025;
    --color-dark-primary: #135bec;
    --color-background-dark: #101622;
    --color-background-light: #f8f8f5;
    --color-surface-light: #ffffff;
    --color-light-text-main: #1c180d;
    --color-light-text-muted: #9c8749;
    --color-light-border-color: #e8e2ce;
    --color-sidebar-light: #ffffff;
    --color-sidebar-dark: #151b2b;
    --color-glass: rgba(255, 255, 255, 0.05);
    --color-glass-border: rgba(255, 255, 255, 0.1);
}

html {
  scroll-behavior: smooth;
  scrollbar-gutter: stable;
}

::-webkit-scrollbar {
  width: 10px;
  background: #f1f5f9;
}

::-webkit-scrollbar-thumb {
  background: #cbd5e1;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: #94a3b8;
}

.dark ::-webkit-scrollbar {
  background: #0f172a;
}

.dark ::-webkit-scrollbar-thumb {
  background: #475569;
}

.dark ::-webkit-scrollbar-thumb:hover {
  background: #64748b;
}